* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

body,
html {
    height: 100vh;
    width: 100vw;

    font-size: 20px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: #49a6cc;

    display: flex;
    align-items: center;
    padding: 2em;
}

header img {
    width: 5em;
    filter: invert();
    margin-right: 3em;
}

header h1 {
    font-size: 4em;
    color: #fff;
}

main {
    flex: 1;
    width: 90%;
    margin: 0 auto;
}

main h2 {
    font-size: 2.5em;
    color: #222;
    display: none;
}

main #about {
    margin: 2em 0 3em 0;
}

main #about h2 {
    margin-bottom: 0.5em;
}

main #about p {
    font-size: 1.4em;
    color: #555;
}

main form {
    margin: 1em 0 3em 0;
}

main form input {
    font-size: 2em;
    border-radius: 5em;
    border: 1px solid #c4c4c4;
    padding: 0.5em;
    width: 100%;
    padding-left: 1em;
    margin-bottom: 1em;
}

main form button {
    font-size: 1.7em;
    width: 100%;

    background-color: #49a6cc;
    color: #fff;
    border: none;
    padding: 0.6em 0;
    border-radius: 5em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

#canvas {
    width: 100%;
    display: none;
}

#camp #infos {
    display: none;
    grid-template-columns: 1fr 1fr;

    margin-top: 1em;

    gap: 1em;
}

#camp #infos p {
    width: 100%;
    background-color: #49a6cc;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 0.5em;
}

/* img {
  border: 0;
}
.wrapper {
  width: 70%;
  margin: 0 auto;
}
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 1%;
  line-height: 0;
  visibility: hidden;
}

#header {
  height: 50px;
  padding: 16px 0 0;
  text-align: center;
}

#logo {
  float: left;
  display: inline-block;
  margin-left: 10px;
}

#navigation {
  display: inline-block;
  height: 30px;
  list-style: none;
  margin: 0 15px;
  padding: 0;
  *width: 516px;
}
#navigation li {
  float: left;
  margin: 0 30px;
}
#navigation li:first-child {
  margin-left: 0;
}
#navigation li a {
  color: #49a6cc;
  line-height: 30px;
  padding: 0;
  text-decoration: none;
}
#navigation li a:hover,
#navigation li.selected a {
  color: #278825;
}

#contents {
  background: #ffffff repeat-x center top;
  margin: 0 0 24px;
  padding: 56px 0 0;
}
#contents h1,
#featured h3 {
  color: #49a6cc;
  font: italic 34px Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 0 0 18px;
}
#contents p {
  color: #49a6cc;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0 0 30px;
  text-align: justify;
}
#contents p a {
  color: #ffffff;
}
#contents p a:hover {
  color: #ffffff;
}
#contents p b {
  display: block;
}
#contents .body {
  width: 70%;
  margin: 0 auto;
  padding: 0 10px;
}

#contents .click-here {
  float: center;
  display: inline-block;
  height: 496px;
  width: 780px;
  margin-left: 20px;
  text-align: center;
}
#contents .click-here h1 {
  color: #000000;
  font-style: italic;
  line-height: 36px;
  margin: 18px 0;
}

#adbox {
  background: #49a6cc url(../img/robot.png) no-repeat 100% 20%;
  font-family: Georgia, "Times New Roman", Times, serif;
  min-height: 500px;
  margin: -56px 0 22px;
  background-size: 700px 377px;

  *margin: 0;
  *position: relative;
  *top: -50px;
}
#adbox .wrapper {
  width: 70%;
  padding: 54px 10px 26px;
}
#adbox .info {
  height: 366px;
  width: 330px;
  overflow: hidden;
}
#adbox h1 {
  color: #ffffff;
  font-size: 40px;
  font-style: italic;
  line-height: 50px;
  margin-bottom: 30px;
}
#adbox p {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
}
#adbox p a {
  color: #ffffff;
}
#adbox div.highlight {
  background: #ffffff;
  min-height: 82px;
  border-color: #ffffff;
  border-style: solid none;
  border-width: 1px;
}
#adbox div.highlight h2 {
  color: #49a6cc;
  font-size: 34px;
  line-height: 82px;
  width: 70%;
  margin: 0 auto;
  padding: 0 9px;
  text-shadow: -2px 0 2px #49a6cc;
  display: none;
}
#adbox div.highlight h2 i {
  font-weight: normal;
}

#footer {
  background-color: #49a6cc;
  border-top: 1px solid #ffffff;
}

#footer .body {
  background: #ffffff;
  min-height: 136px;
  padding: 36px 0;
}
#footer h4 {
  color: #49a6cc;
  font: normal 20px Georgia, "Times New Roman", Times, serif;
  margin: 0 0 12px;
}
#footer p {
  color: #ffffff;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 0 0 6px;
}

#canvas {
  margin: 0 auto;

  width: 100%;
  background-color: #fff;
  border: 1px solid black;
}

.pos-inputs {
  width: 100%;
  margin: 0 auto 20px;
}

.pos-inputs input {
  border-radius: 22px;
  border: 1px solid #c4c4c4;
  padding: 10px;
  padding-left: 15px;
  margin-right: 10px;
}

.pos-inputs button {
  background-color: #49a6cc;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.graficos {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 60px auto 0;
  padding-bottom: 60px;
  gap: 40px;
}

.grafico {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#campo {
  display: none;
  grid-template-columns: 5fr 1fr;
}

#infos {
  margin-left: 10px;
}

#campo #infos p {
  margin: 0 0 10px;
  padding: 0;
  color: #222;
  text-align: initial;
  font-size: 16px;
} */
